#chart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

.selected-warehouse {
  font-family: "Inter";
  font-size: 26px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}
.shadowBox{
  box-shadow: 10px 10px 5px #ECECEC;
  border-radius: 10px !important;
 }
