.goggle-fonts-poppins {
  font-family: "Poppins", sans-serif;
}
.goggle-fonts-inter {
  font-family: "Inter", sans-serif;
}
.goggle-fonts-lato {
  font-family: "Lato", sans-serif;
}
.goggle-fonts-rubik {
  font-family: "Rubik", sans-serif;
}
